<app-search-bar (textChange)="search($event)"></app-search-bar>
<ng-container
  *ngIf="{
    orgs: orgs$ | async,
    repos: repos$ | async,
    error: error$ | async
  } as data"
>
  <div *ngIf="!data.error">
    <ng-container *ngFor="let org of data.orgs">
      <div>{{ org | json }}</div>
    </ng-container>
    <ng-container *ngFor="let repo of data.repos">
      <div>{{ repo | json }}</div>
    </ng-container>
  </div>
  <ng-container *ngIf="data.error">
    {{ data.error.message }}
  </ng-container>
</ng-container>
